* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    width: 100vw;
    height: 100vh;
    background: #383737;
    color: #0e0d0d;
    font-family: "Aenoik";
    overflow: hidden; /* Prevent vertical scrolling */
}


.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 800vw; /* Adjust this based on the total number of sections */
    height: 90vh;
    display: flex;
    overflow: hidden; /* Prevent horizontal and vertical scrolling */
}

a {
    text-decoration: none;
    color: #000000;
}


.nav {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    z-index: 1000; /* Ensures the nav is on top */
}

header nav {
    display: flex;
    gap: 1300px;
    padding-top: 10px;
}

.timeline {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    padding: 2.25em 1em;
    display: flex;
    justify-content: space-around;
}

.marker {
    width: 1px;
    height: 100%;
    background: aliceblue;
}

.scroller {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    font-family: "Akkurat Mono";
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    line-height: 120%;
}

span {
    font-family: "Akkurat Mono";
    font-size: 13px;
    padding: 0 3em;
}

section {
    position: relative;
    width: 100vw; /* Each section takes full width of the viewport */
    height: 100%;
    padding: 6em 2em 0 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    overflow: hidden;
}

.title-section {
    margin-bottom: 1em;
}

.title-section h1 {
    font-family: "PP Neue Montreal";
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
}

.title-section h3 {
    font-family: "PP Neue Montreal";
    font-weight: 200;
    font-size: 22px;
    margin-top: 0.5em;
}

.content {
    display: flex;
    justify-content: space-between;
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
}

.content u {
    font-family: "Times New Roman', Times, serif";
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-style: underline; 
}

p {
    width: 60%;
    font-family: "PP Neue Montreal";
    font-weight: 400;
    font-size: 16px;
}

ul {
    width: 35%;
    list-style-type: disc;
    padding-left: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
}




#section-4 {
    display:flex;
    justify-content:center;
    align-items: center;
    width: auto;
    height: auto;
}


#section-5 {
    display:flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.img {
    width: 50%;
    height: 100%;
}

.img-1 {
    width: 50%;
    height: 100%;
}



svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1000;
}

.trail {
    stroke-width: 0;
    fill: #2926244d;
}