* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    cursor: none; /* Hide the mouse cursor */
}

/* font */
@font-face {
    font-family: 'McKinsey Sans';
    src: url('fonts/McKinseySans-Regular.woff2') format('woff2'),
         url('fonts/McKinseySans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


nav {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.slider {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.slider-content {
    pointer-events: auto; /* Enable pointer events for the content container */
}

.slide-link a, .slide-name a {
    pointer-events: auto; /* Ensure links are clickable */
    cursor: pointer; /* Indicate they are clickable */
}




.slide {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: clip-path 0.60s ease, transform 0.60s ease; 
}

#slide-1 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    pointer-events: none;
}

/**/
.postfix span {
    padding: 0 0.25em;
}

.slide-name {
    position: absolute;
    top: 100%;
    left: 16%;
    transform: translate(-50%, -50%);
}

.slide-link {
    position: absolute;
    top: 100%;
    right: 13%;
    transform: translate(-50%, -50%);
}

.slide-name {
    font-size: 15px;
    color: #fffff1;
    line-height: 30px;
    clip-path: polygon(0 0, 100% 0, 100% 30px, 0 30px);
    text-transform: uppercase;
}

.slide-link {
    font-size: 13px;
    color: #fffff1;
    line-height: 30px;
    clip-path: polygon(0 0, 100% 0, 100% 30px, 0 30px);
    text-transform: uppercase;
}

/* problem with button here*/ 
.link a {
    background: #5cba5d;
    padding: 0.5em 3em;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 200;
    color: #fffff1;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s, color 0.3s, border 0.3s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* Adjusted for a button-like appearance */
    text-decoration: none; /* Removes the underline */
    border-radius: 5px;
}

.link a {
    background: linear-gradient(90deg, #5cba5d 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.4s ease;
}

.link a:hover {
    background-position: left;
    color: #292624;
    border: 2px solid #292624;
}




.prefix,
.names,
.link {
    position: relative;
    top: 0;
}

a {
    color: #fffff1;
}

/**/
@media (max-width: 900px) {
    .slide-name {
        left: 50%;
    }
    .slide-link {
        right: 10%;
    }
};

/**/
svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2000;
    
}

path {
    fill: none;
    stroke-width: 50;
    stroke-linecap: round;
    stroke-linejoin:round ;
}